.estadistica{
  font-family: "montserrat";
  min-width: 17%;
  border-radius: 20px;
  padding: 20px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgb(166, 216, 219);
}

.estadistica h3{
  font-family: "montserrat";
    font-size: 25px;
    font-weight: 900;
    color: rgb(44, 77, 87);
    margin: 0px;
    margin-bottom: 15px;
}
.estadistica div{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 20px;
}

.estadistica div div{

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  width: 100%;
  padding-left: 10px;
  padding-right: 5px;

  background-color: rgb(109, 160, 161);
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 700;

}
.estadistica div div div{
  height: 30px;
  max-width: 35px;
  min-width: 30px;
  background-color: rgb(68, 110, 110);
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0px;
}

.celular{
  display: none;
}


@media (max-width: 1270px) {

    .estadistica{
      width: 20%;
      height: 360px;
      padding: 10px;
    }

    .estadistica h3{
      font-size: 18px;
    }
    .estadistica div div{
      font-size: 12px;
      height: 30px;
    }

    .estadistica div div div{
      height: 25px;
      
    }
    
}


@media (max-width: 1215px){

    .estadistica h3{
        font-size: 18px;
    }
    .estadistica div div{
        font-size: 11px;
        height: 30px;
    }

}

@media (max-width: 1150px){
  .computadora{
    display: none;
  }
  .celular{
    display: flex;
    margin-top: 60px;
    width: 50%;
  }
  .cont-cuadri-estadisticas-rank{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
}

@media (max-width: 440px){
  .estadistica{
    margin-top: 50px;
    width: 80%;
  }
}